.hero-section-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding-bottom: 2.8rem;
  padding-top: 1rem;
}

.main-section-details {
  text-align: center;
}

.main-section-details .banner-pc {
  width: 90vw;
  border-radius: 10px;
}

.banner-mobile{
  display: none;
}

.constellation-section {
  text-align: center;
  padding-top: 5.5rem;
}

.constellation-section-container {
  display: flex;
  flex-wrap: wrap;
  width: 35rem;
  gap: 3rem;
  margin-inline: auto;
}

@media (min-width: 38.1rem) and (max-width: 70rem) {
  .constellation-section-container {
    justify-content: center;
    gap: 3rem;
  }
}

@media (max-width: 38rem) {
  .banner-pc {
    display: none;
  }

  .banner-mobile{
    display: block;
    width: 90%;
    margin-inline: auto;
    border-radius: 10px;
  }

  .constellation-section {
    padding-top: 3rem;
  }
  .constellation-section-container {
    gap: 1rem;
    justify-content: center;
    width: 20rem;
  }
}

@media (min-width: 1500px) {
  .hero-section-container {
    padding-top: 6rem;
  }
  .constellation-section-container {
    width: 85rem;
    gap: 1rem;
  }
}
